.details_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
}
@media only screen and (max-width: 768px) {
  .details_container {
    padding-top: 0rem;
  }
  .header {
    font-size: 3rem;
  }
}
.header {
  font-size: 4rem;
}
.label__container {
  margin-top: 1rem;
}

.input {
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid;
  border-color: #d1b568;
  border-width: 1px;
}
input.input::placeholder {
  color: #d1b568;
}

p {
  color: red;
}

.button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-color: #3498db;
  color: wh;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}

.button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
.button:hover,
.button:focus {
  color: #3498db;
  outline: 0;
}

.link {
  text-decoration: none;
  font-size: 0.8rem;
  color: #3498db;
}
